In [2]:
folder = "C:\\Users\\jb\\Google Drive\\BIG DATA DAUPHINE\\Projet - Actuaria\\"

In [14]:
import pandas as pd
import numpy as np
from scipy import io
from scipy import sparse
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.plotly as py
from scipy import io
import scipy as scipy
from sklearn.preprocessing import MinMaxScaler

In [3]:
df_test = pd.read_csv(folder + "pricing.csv")
df_train = pd.read_csv(folder + "training.csv", sep=";")

In [17]:
df_train

,PolNum,CalYear,Gender,Type,Category,Occupation,Age,Group1,Bonus,Poldur,Value,Adind,SubGroup2,Group2,Density,Exppdays,Numtppd,Numtpbi,Indtppd,Indtpbi
1,200114978,2009,Male,C,Large,Employed,25,18,90,3,15080,0,L46,L,72.012883,365,1,0,0.000000,0.000000
2,200114994,2009,Male,E,Large,Employed,20,11,30,2,22370,1,O38,O,39.550411,365,1,0,0.000000,0.000000
3,200115001,2009,Female,E,Large,Unemployed,42,11,150,0,39650,0,Q28,Q,169.529148,365,2,0,0.000000,0.000000
4,200115011,2009,Female,C,Medium,Housewife,21,5,0,0,12600,1,L6,L,58.894688,365,1,0,0.000000,0.000000
5,200115015,2009,Female,D,Large,Employed,33,12,30,10,9065,0,N4,N,109.631885,365,2,0,0.000000,0.000000
6,200115016,2009,Female,D,Small,Employed,26,13,40,7,27335,1,N16,N,47.982698,365,1,0,0.000000,0.000000
7,200115023,2009,Female,C,Small,Unemployed,20,7,80,13,7710,0,Q65,Q,77.737385,365,1,0,0.000000,0.000000
8,200115043,2009,Female,B,Medium,Employed,29,3,-20,12,8965,0,R19,R,272.966995,365,1,0,0.000000,0.000000
9,200115048,2009,Male,E,Medium,Unemployed,31,3,-40,10,21030,1,R9,R,251.432848,355,1,0,0.000000,0.000000
10,200115063,2009,Male,D,Medium,Employed,35,7,120,1,19995,1,Q22,Q,144.998902,365,1,0,0.000000,0.000000
11,200115068,2009,Male,C,Small,Employed,27,11,30,0,18395,0,Q13,Q,166.554938,365,1,0,0.000000,0.000000
12,200115070,2009,Female,A,Large,Housewife,65,9,-30,15,11880,0,R35,R,223.308572,365,1,0,0.000000,0.000000
13,200115074,2009,Female,A,Medium,Unemployed,25,9,20,2,23130,0,M1,M,107.817053,365,1,0,0.000000,0.000000
14,200115076,2009,Male,D,Small,Unemployed,24,13,50,8,15680,0,O2,O,32.923951,365,1,0,0.000000,0.000000
15,200115090,2009,Male,D,Small,Employed,21,11,20,0,33920,0,M21,M,102.818883,365,1,0,0.000000,0.000000
16,200115097,2009,Female,A,Small,Employed,29,9,-50,0,11370,0,T18,T,32.212556,365,1,0,0.000000,0.000000
17,200115099,2009,Male,D,Small,Unemployed,22,14,-10,6,23130,0,R31,R,285.621744,365,1,0,0.000000,0.000000
18,200115103,2009,Female,D,Large,Unemployed,21,18,-20,5,8695,0,Q60,Q,112.404795,365,1,0,0.000000,0.000000
19,200115120,2009,Male,A,Small,Self-employed,18,8,0,2,11925,0,R33,R,297.385170,365,2,1,0.000000,3840.044532
20,200115137,2009,Male,D,Large,Employed,34,6,50,3,4190,0,O5,O,31.491289,365,1,0,0.000000,0.000000
21,200115169,2009,Male,B,Small,Employed,41,5,150,1,5020,0,L30,L,62.062526,365,1,1,0.000000,2793.714420
22,200114871,2009,Male,C,Medium,Self-employed,27,3,-20,0,8590,0,P20,P,43.843798,365,0,0,0.000000,0.000000
23,200114872,2009,Female,E,Large,Unemployed,60,20,-30,0,27445,0,L112,L,66.066684,321,0,0,0.000000,0.000000
24,200114873,2009,Female,D,Medium,Housewife,62,13,-30,9,11290,1,R36,R,276.335565,365,0,0,0.000000,0.000000
25,200114874,2009,Female,B,Small,Employed,27,16,50,3,26985,0,T29,T,30.462442,365,0,0,0.000000,0.000000
26,200114875,2009,Male,F,Medium,Housewife,37,16,80,3,39705,1,R31,R,285.621744,365,0,0,0.000000,0.000000
27,200114876,2009,Male,D,Large,Employed,38,4,-40,2,18655,1,U17,U,123.969842,220,0,0,0.000000,0.000000
28,200114877,2009,Female,B,Medium,Housewife,31,1,-10,14,7540,0,R34,R,276.995019,120,0,0,0.000000,0.000000
29,200114878,2009,Female,A,Medium,Housewife,41,10,100,0,24940,1,R19,R,272.966995,365,1,0,740.302290,0.000000
30,200114879,2009,Male,C,Small,Self-employed,43,7,-50,4,8140,0,M13,M,184.478517,188,0,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,200285776,2010,Female,E,Large,Retired,64,7,-40,4,8175,0,R17,R,221.706398,347,0,0,0.000000,0.000000
99993,200285777,2010,Female,B,Large,Self-employed,51,20,70,7,4540,1,S28,S,20.557918,339,0,0,0.000000,0.000000
99994,200285778,2010,Male,A,Large,Employed,39,13,-40,5,17035,1,R45,R,225.043089,365,0,0,0.000000,0.000000
99995,200285779,2010,Male,D,Small,Housewife,56,1,100,1,8835,1,L122,L,66.113612,104,0,0,0.000000,0.000000
99996,200285780,2010,Female,D,Small,Employed,20,11,0,4,28130,0,Q51,Q,141.489656,365,0,0,0.000000,0.000000
99997,200285781,2010,Female,D,Medium,Employed,18,17,0,3,41630,0,R47,R,249.783572,365,0,0,0.000000,0.000000
99998,200285782,2010,Male,C,Large,Employed,37,10,-50,0,27920,0,M22,M,153.452322,365,0,0,0.000000,0.000000
99999,200285783,2010,Female,A,Large,Unemployed,43,9,30,10,18540,0,L131,L,71.716556,365,0,0,0.000000,0.000000
100000,200285784,2010,Female,A,Medium,Unemployed,44,10,-50,2,30890,1,Q59,Q,95.693552,365,0,0,0.000000,0.000000
100001,200285785,2010,Male,C,Medium,Retired,49,20,-50,1,13265,1,L33,L,50.406012,365,0,0,0.000000,0.000000
100002,200285786,2010,Male,E,Large,Employed,48,14,40,0,32345,1,O31,O,35.434015,328,0,1,0.000000,1056.033493
100003,200285787,2010,Male,B,Medium,Employed,30,8,-30,9,8995,0,Q29,Q,239.455170,365,0,0,0.000000,0.000000
100004,200285788,2010,Female,B,Large,Housewife,47,2,-50,2,9145,1,U21,U,88.290150,365,0,0,0.000000,0.000000
100005,200285789,2010,Female,D,Large,Self-employed,48,13,-30,15,22075,1,R21,R,275.282263,159,0,0,0.000000,0.000000
100006,200285790,2010,Male,C,Medium,Housewife,57,12,-50,1,24985,1,Q5,Q,99.640009,364,0,0,0.000000,0.000000
100007,200285791,2010,Male,D,Medium,Self-employed,21,15,50,1,12100,1,R11,R,259.004060,365,3,1,5800.018907,16.507642
100008,200285792,2010,Male,B,Small,Employed,44,5,-40,15,9820,1,Q10,Q,169.788555,365,0,0,0.000000,0.000000
100009,200285793,2010,Male,F,Small,Self-employed,37,17,-50,5,28680,1,Q5,Q,99.640009,365,0,0,0.000000,0.000000
100010,200285794,2010,Female,C,Large,Retired,49,3,20,4,28470,0,L94,L,84.229038,189,0,0,0.000000,0.000000
100011,200285795,2010,Female,A,Medium,Unemployed,35,5,20,5,8590,0,L112,L,66.066684,241,0,0,0.000000,0.000000
100012,200285796,2010,Male,E,Large,Self-employed,50,10,-30,3,20490,1,Q10,Q,169.788555,365,0,0,0.000000,0.000000
100013,200285797,2010,Female,B,Medium,Housewife,31,8,140,1,8385,1,P28,P,41.245120,362,0,0,0.000000,0.000000
100014,200285798,2010,Female,E,Medium,Self-employed,41,11,90,3,6410,1,L47,L,66.765419,365,0,0,0.000000,0.000000
100015,200285799,2010,Female,A,Medium,Housewife,44,10,-30,8,8485,0,P29,P,20.864484,365,0,0,0.000000,0.000000
100016,200285800,2010,Male,B,Large,Retired,69,8,-40,11,9380,1,U14,U,123.015208,365,0,0,0.000000,0.000000
100017,200285801,2010,Male,F,Medium,Housewife,45,11,30,0,19700,0,L40,L,76.052726,365,0,0,0.000000,0.000000
100018,200285802,2010,Male,E,Large,Retired,53,8,-30,6,10980,1,U19,U,61.794759,365,0,0,0.000000,0.000000
100019,200285803,2010,Male,C,Small,Employed,47,10,-10,9,21980,0,L96,L,45.669823,365,0,0,0.000000,0.000000
100020,200285804,2010,Female,D,Large,Retired,46,7,-50,1,28925,1,U12,U,54.931812,365,0,0,0.000000,0.000000
100021,200285805,2010,Female,C,Large,Retired,67,17,-50,9,14525,1,L52,L,73.252499,365,0,0,0.000000,0.000000

In [ ]:
import names   # random name generator - pip install names
import pandas_profiling    # pip install pandas_profiling

In [19]:
df_train.describe()

,PolNum,CalYear,Age,Group1,Bonus,Poldur,Value,Adind,Density,Exppdays,Numtppd,Numtpbi,Indtppd,Indtpbi
count,1.000210e+05,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000,100021.000000
mean,2.002003e+08,2009.499895,41.122514,10.692625,-6.921646,5.470781,16454.675268,0.512142,117.159270,327.588007,0.147449,0.046790,106.135007,222.762829
std,6.217239e+04,0.500002,14.299349,4.687286,48.633165,4.591194,10506.742732,0.499855,79.500907,73.564636,0.436917,0.219546,444.949188,1859.422836
min,2.001149e+08,2009.000000,18.000000,1.000000,-50.000000,0.000000,1000.000000,0.000000,14.377142,91.000000,0.000000,0.000000,0.000000,0.000000
25%,2.001399e+08,2009.000000,30.000000,7.000000,-40.000000,1.000000,8380.000000,0.000000,50.625783,340.000000,0.000000,0.000000,0.000000,0.000000
50%,2.001649e+08,2009.000000,40.000000,11.000000,-30.000000,4.000000,14610.000000,1.000000,94.364623,365.000000,0.000000,0.000000,0.000000,0.000000
75%,2.002608e+08,2010.000000,51.000000,14.000000,10.000000,9.000000,22575.000000,1.000000,174.644525,365.000000,0.000000,0.000000,0.000000,0.000000
max,2.002858e+08,2010.000000,75.000000,20.000000,150.000000,15.000000,49995.000000,1.000000,297.385170,365.000000,7.000000,3.000000,12878.369910,69068.026292

In [26]:
pivot01 = pd.pivot_table(df_train, values='Indtppd', index=['CalYear', 'Poldur'], aggfunc=np.sum).reset_index()
pivot01

    CalYear  Poldur       Indtppd
0      2009       0  8.820029e+05
1      2009       1  5.911927e+05
2      2009       2  5.430233e+05
3      2009       3  4.753962e+05
4      2009       4  3.358372e+05
5      2009       5  3.257301e+05
6      2009       6  2.377188e+05
7      2009       7  2.346709e+05
8      2009       8  2.022242e+05
9      2009       9  1.917109e+05
10     2009      10  1.605666e+05
11     2009      11  1.531402e+05
12     2009      12  1.558725e+05
13     2009      13  1.466783e+05
14     2009      14  1.328201e+05
15     2009      15  1.606792e+05
16     2010       0  1.014872e+06
17     2010       1  7.190489e+05
18     2010       2  6.171994e+05
19     2010       3  4.566451e+05
20     2010       4  4.485139e+05
21     2010       5  2.871094e+05
22     2010       6  2.997044e+05
23     2010       7  2.430893e+05
24     2010       8  2.320630e+05
25     2010       9  2.587259e+05
26     2010      10  2.196842e+05
27     2010      11  1.945912e+05
28     2010      12  1.933541e+05
29     2010      13  1.811407e+05
30     2010      14  1.621810e+05
31     2010      15  1.585431e+05

In [4]:
df_dummy = pd.get_dummies(df_train, columns=['Gender', 'Type', 'Category', 'Occupation', 'Group1','SubGroup2','Group2'])

In [5]:
df_dummy.head()

,PolNum,CalYear,Age,Bonus,Poldur,Value,Adind,Density,Exppdays,Numtppd,...,Group2_L,Group2_M,Group2_N,Group2_O,Group2_P,Group2_Q,Group2_R,Group2_S,Group2_T,Group2_U
1,200114978,2009,25,90,3,15080,0,72.012883,365,1,...,1,0,0,0,0,0,0,0,0,0
2,200114994,2009,20,30,2,22370,1,39.550411,365,1,...,0,0,0,1,0,0,0,0,0,0
3,200115001,2009,42,150,0,39650,0,169.529148,365,2,...,0,0,0,0,0,1,0,0,0,0
4,200115011,2009,21,0,0,12600,1,58.894688,365,1,...,1,0,0,0,0,0,0,0,0,0
5,200115015,2009,33,30,10,9065,0,109.631885,365,2,...,0,0,1,0,0,0,0,0,0,0

In [66]:
df_dummy.dtypes
cols_to_drop = [ 'CalYear', 'PolNum' ]
df_dummy_reduce = df_dummy.drop( cols_to_drop, axis = 1 )
df_dummy_reduce
df_dummy_reduce2 = df_dummy_reduce

In [19]:
column_names_to_normalize = ['Age', 'Bonus', 'Poldur', 'Value', 'Density','Exppdays']
x = df_dummy_reduce2[column_names_to_normalize].values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = df_dummy_reduce2.index)
df_dummy_reduce2[column_names_to_normalize] = df_temp

In [21]:
df_dummy_reduce2.head()

,Age,Bonus,Poldur,Value,Adind,Density,Exppdays,Numtppd,Numtpbi,Indtppd,...,Group2_L,Group2_M,Group2_N,Group2_O,Group2_P,Group2_Q,Group2_R,Group2_S,Group2_T,Group2_U
1,0.122807,0.70,0.200000,0.287376,0,0.203654,1.0,1,0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,0.035088,0.40,0.133333,0.436167,1,0.088949,1.0,1,0,0.0,...,0,0,0,1,0,0,0,0,0,0
3,0.421053,1.00,0.000000,0.788856,0,0.548225,1.0,2,0,0.0,...,0,0,0,0,0,1,0,0,0,0
4,0.052632,0.25,0.000000,0.236759,1,0.157301,1.0,1,0,0.0,...,1,0,0,0,0,0,0,0,0,0
5,0.263158,0.40,0.666667,0.164609,0,0.336580,1.0,2,0,0.0,...,0,0,1,0,0,0,0,0,0,0

### DeepLearning Keras

In [31]:
from keras.layers.core import Dense, Activation
from keras.optimizers import SGD
from keras.models import Sequential
from keras import models
from keras import layers
from sklearn.utils import shuffle

In [67]:
#construction train et test (et nomalisation du train)
from sklearn.model_selection import train_test_split

#df_dummy_reduce2.shape

#entier en float
df_dummy_reduce.iloc[:,0:7] = df_dummy_reduce.iloc[:,0:7].astype('float32')

#drop target col sauf 'Indtpbi'
df_dummy_reduce2 = df_dummy_reduce.drop(['Numtppd','Numtpbi','Indtppd'],axis = 1)


#split train test
(train, test) = train_test_split(df_dummy_reduce, test_size=0.25, random_state=42)

In [ ]:



# performin min-max scaling each continuous feature column to
	# the range [0, 1]
	cs = MinMaxScaler()
	trainContinuous = cs.fit_transform(train[continuous])
	testContinuous = cs.transform(test[continuous])

In [ ]:
#modele de DL
model = models.Sequential()

df_dummy_reduce2_xS

In [62]:
column_names_to_normalize = ['Age', 'Bonus', 'Poldur', 'Value', 'Density','Exppdays']
x = df_dummy_reduce2[column_names_to_normalize].values

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'